type: object
properties:
  url:
    type: string
  username:
    type: string
  password:
    type: string
  blacklist_prefix:
    type: string
  user_tokens_prefix:
    type: string
required:
  - url
  - blacklist_prefix
  - user_tokens_prefix
