url: => env.REDIS_URL || "redis://localhost:6379"
username: => env.REDIS_USERNAME || ""
password: => env.REDIS_PASSWORD || "mypassword"
blacklist_prefix: "blacklist:token:"
user_tokens_prefix: "user:"
